  .chat-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-height: 100vh; /* Limit to viewport height on desktop */
    border-radius: 8px;
    padding: 10px;
    background-color: #333;
  }
  
  .chat-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .chat-address-info {
    display: flex;
    align-items: center;
  }
  
  .address-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 10px;
  }
  
  .chat-address {
    font-weight: bold;
    margin: 0;
  }
  
  .status {
    font-size: 12px;
    color: #888;
  }
  
  .chat-options {
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border: none;
    color: #fff;
    background: none;
    cursor: pointer;
    z-index: 100;
  }  

  .chat-options-popup {
    position: absolute; /* Position relative to the button */
    top: 100%; /* Align directly below the button */
    right: 0; /* Align to the left edge of the button */
    float: right;
    margin-top: 5px; /* Add a small gap between the button and the popup */
    background-color: #fff; /* Background for the dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    width: 150px; /* Set a fixed width for the popup */
    overflow: hidden;
  }
  
  .chat-options-popup button {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  
  .chat-options-popup button:hover {
    background-color: #f1f1f1;
  }  

  .wallet-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    width: 90%;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
  }
  
  .wallet-header p {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  
  .wallet-controls button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }

  .wallet-controls a {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }

  .wallet-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .wallet-modal-content {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }
  
  .wallet-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }

  .wallet-modal-header h2 {
    margin-top: 0;
  }
  
  .wallet-close-button button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
  }
  
  .wallet-details, .wallet-stats, .qr-code-section {
    margin-bottom: 0px;
  }

  .wallet-addr-details {
    border: solid 1px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .wallet-address {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 1.1em;
    word-break: break-all;
    margin: 0px;
  }
  
  .wallet-stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 0px;
  }
  
  .wallet-balance, .wallet-txns {
    width: 45%;
    border: solid 1px;
    border-radius: 8px;
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .tca-coin-logo {
    width: 20px; /* Set your desired width */
    height: 20px; /* Set your desired height */
    margin-left: 5px;
  }  

  .bnb-coin-logo {
    fill: #f1b909;
    margin-left: 5px;
  }

  span.coins-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .qr-code-section {
    border: solid 1px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .qr-code-section p {
    margin: 5px 0;
    font-size: 0.9em;
  }  

  
  .chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .start-chat-message {
    font-style: italic;
    color: #fff;
  }
  
  .chat-encryption-warning {
    margin-top: 10px;
    background-color: #fff8d1;
    border: 1px solid #ffeb8c;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    color: #8a6d3b;
  }
  
  .warning-icon {
    margin-right: 5px;
  }
  
  .chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .emoji-icon {
    margin-right: 10px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 8px;
    padding: 9px;
  }

  /* Position the emoji picker container */
  .emoji-picker-container {
    position: absolute;
    bottom: 60px; /* Adjust based on chat input position */
    left: 20px; /* Position it near the emoji icon */
    z-index: 2000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .send-message-btn {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3); /* Highlight on hover */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .send-message-btn:hover {
    background-color: #0056b3;
  }
  
  .input-hint {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 5px;
  }
  
  .input-hint span {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .chat-box {
      height: calc(100% - 50px); /* Adjust based on header/footer or container heights */
    }
  }