.footer-section-wrapper {
  position: relative;
  overflow: hidden; /* Ensures background doesn't overflow */
}

.footer-container {
  position: relative;
  text-align: center;
  padding: 100px 20px 100px 20px;
  background-color: rgba(28, 28, 28, 0.8); /* Transparent background for effect */
  z-index: 1; /* Ensures content layers over animated background */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-heading h2 {
  font-size: 24px;
  color: #fff;
}

.footer-heading h2 span {
  color: #007bff;
}

.footer-heading p {
  margin: 10px 0;
  font-size: 16px;
  color: #ccc;
}

.store-buttons {
  margin: 20px 0;
}

.app-store, .google-play {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

.footer-bottom p {
  font-size: 14px;
  color: #aaa;
}

.footer-bottom nav {
  margin-top: 10px;
}

.footer-bottom nav a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.footer-bottom nav a:hover {
  color: #fff;
}

.grdnt2 {
  background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}