  /* Base styles */
  .home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #333;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%; /* Ensure the container takes full width */
  
  }
  
  /* Header for mobile button positioning */
  .home-header {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .settings-modal-content {
    background-color: #333;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  /* Notification */
  .notification_settings {
    padding-top: 10px;
    margin-top: 0;
  }

  .privacy_settings {
    padding-top: 0;
    margin-top: 0;
  }

  /* Labels and Checkboxes */
  .settings-modal-content label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #ddd;
    border-bottom: solid 1px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }

  .settings-modal-content label span {
    font-size: 13px;
    margin: 5px 0px;
  }

  .settings-modal-content label input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
  }

  /* Blocked Addresses */
  .privacy_settings ul {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
  }

  .privacy_settings li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #ddd;
    background-color: #f7f7f7;
    padding: 8px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .privacy_settings li button {
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .privacy_settings li button:hover {
    background-color: #ff4a4a;
  }

  /* Input for Blocking Addresses */
  .privacy_settings input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
  }

  .privacy_settings input[type="text"]:focus {
    border-color: #20b2aa;
  }

  /* Save Button */
  .save_settings_btn {
    text-align: center;
    margin-top: 20px;
  }

  .save_settings_btn button {
    background-color: #20b2aa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .save_settings_btn button:hover {
    background-color: #17a598;
  }
  
  .settings-title {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
  }

  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }

  /* Button to open Blocked Addresses modal */
  .manage-blocked-btn {
    width: 100%;
    height: 70px;
    background-color: #1c1c1c;
    border: solid 1px #4b4b4b;
    color: #fff;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .manage-blocked-btn:hover {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3) !important;
    transition: background-color 0.3s, transform 0.2s;
  }

  /* Blocked Addresses Modal Content */
  .blocked-modal-content {
    background-color: #333;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    font-family: Arial, sans-serif;
  }

  /* Blocked Addresses List */
.blocked-list {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.blocked-list ul {
  list-style-type: none;
  padding-left: 0;
}

.blocked-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.blocked-address {
  font-size: 0.9rem;
  color: #333;
  word-break: break-all;
}

.unblock-button {
  background-color: #ff6b6b;
  border: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unblock-button:hover {
  background-color: #ff4a4a;
}

/* Block Input and Add Button */
.block-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.block-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
}

.block-input:focus {
  border-color: #20b2aa;
}

.add-block-button {
  background-color: #20b2aa;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-block-button:hover {
  background-color: #17a598;
}

/* Save Button */
.modal-footer {
  text-align: center;
}

.save-blocked-btn {
  background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-blocked-btn:hover {
  background: #ce00fc;
  color: #fff;
}

/* No Blocked Addresses Message */
.no-blocked-addresses {
  color: #888;
  font-style: italic;
  padding: 8px 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
}

  /* Close Button */
  .blocked-modal-content .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
  }

  .blocked-modal-content .close-button:hover {
    color: #f44336;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  h3, h4 {
    margin-top: 20px;
  }

  .grdntclr {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .wallet-address-extlink {
    color: #fff;
    font-size: 16px;
    margin: 3px 5px 0px 5px;
  }

  /* Sidebar styling, visible with transform */
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #1c1c1c;
    color: #fff;
    z-index: 100;
    overflow-y: auto;
    transform: translateX(0); /* Visible by default on larger screens */
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    }

  /* Show Menu button only on mobile */
  .sidebar-toggle {
    display: none; /* Hide by default */
  }

  .sidebar-toggle span {
    margin: 0 0px 0 5px;
  }

  .unread-message {
    animation: colorPulse 2s infinite;
    border: 2px solid transparent;
    border-radius: 8px;
  }
  
  @keyframes colorPulse {
    0% {
      background-color: #333;
    }
    50% {
      background-color: #727272;
    }
    100% {
      background-color: #333;
    }
  }

  .chat-address-info .chat-message-icon {
    padding: 10px;
    border: solid 1px;
    border-radius: 8px;
    margin: 10px;
    font-size: 25px;
  }

  .chatroom-icon {
    margin: 10px;
  }

  .chat-item .chat-message-icon {
    padding: 5px;
    border: solid 1px;
    border-radius: 8px;
    margin: 5px;
    font-size: 12px;
  }

  /* Specific icon buttons (home, message, etc.) inside the sidebar */
  .wallet-controls .sidebar-icon {
    margin-bottom: 10px; /* Spacing between icons */
    background-color: #444; /* Darker shade for consistency */
  }

  /* Toggle button inside sidebar */
  .sidebar-icon .sidebar-toggle-inside {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3) !important;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto; /* Center within the icon box */
  }

  .sidebar-icon > .sidebar-toggle-inside {
    background-color: inherit; /* Inherit background color from .sidebar-icon */
  }
  
  .sidebar-icon.sidebar-toggle-container.open {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3); /* New color when containing sidebar-toggle-inside */
  }

  .sidebar-icon .sidebar-toggle-inside.open {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3) !important; /* New color when the sidebar is open */
  }
  
  /* Sidebar icon styling */
  .sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 50px; /* Fixed width and height for uniform boxes */
    height: 50px;
    border-radius: 12px; /* Rounded corners */
    color: #fff;
    font-size: 24px; /* Larger icon size */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for 3D effect */
    margin: 5px 5px;
  }

  .sidebar-icon:hover {
    background: linear-gradient(90deg, #ce00fc75, #f7c4408a, #20d0e387);
    transform: translateY(-2px); /* Slight lift on hover */
  }

  .sidebar-icon.waddr {
    width: 100% !important;
    background-color: transparent !important;
    box-shadow: none;
  }

  .sidebar-icon:hover.waddr {
    background: transparent;
  }

  .sidebar-icon button,
  .sidebar-icon a {
    color: inherit;
    background: none;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Add padding for text and icons */
  .sidebar-content p {
    font-size: 16px;
    margin: 0;
    color: #ccc;
    text-align: center;
  }

  .sidebar-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0 0 0;
  }
 
  .wallet-header {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    margin: 0 auto;
    gap: 15px;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }  
  
  .wallet-header p {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  
  .wallet-controls button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }

  .wallet-controls a {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }

  .wallet-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .wallet-modal-content {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }
  
  .wallet-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }
  
  .wallet-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
  }
  
  .wallet-details, .wallet-stats, .qr-code-section {
    margin-bottom: 0px;
  }

  .wallet-addr-details {
    border: solid 1px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .wallet-address {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 1.1em;
    word-break: break-all;
    margin: 0px;
  }
  
  .wallet-stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 0px;
  }
  
  .wallet-balance, .wallet-txns {
    width: 45%;
    border: solid 1px;
    border-radius: 8px;
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .tca-coin-logo {
    width: 20px; /* Set your desired width */
    height: 20px; /* Set your desired height */
    margin-left: 5px;
  }  

  .bnb-coin-logo {
    fill: #f1b909;
    margin-left: 5px;
  }

  span.coins-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .qr-code-section {
    border: solid 1px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .qr-code-section p {
    margin: 5px 0;
    font-size: 0.9em;
  }  

  .search-bar {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .chat-list {
    font-size: 14px;
    width: 100%;
    color: #666;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #333333;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    justify-content: space-between;
    border: 1px solid #333;
  }

  .chat-item:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
    color: #333333;
  }

  .chat-item p {
    color: #ccc;
  }

  .chat-item:hover p {
    color: #333333;
  }

  .delete-icon {
    color: #ff4d4d;
    font-size: 18px;
  }  

  .chat-address-sidebar {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

  p.head-empty-chat {
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }

  p.body-empty-chat {
    font-family: monospace;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }

  .empty-chat {
    text-align: center;
    margin-top: 40px;
  }
  
  .main-content {
    flex: 1;
    padding: 0; /* Remove padding to avoid unintentional overflow */
    margin-left: 270px; /* Keep margin-left for layout, adjust if necessary */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - 270px); /* Explicitly set width to prevent overflow */
    max-width: calc(100vw - 270px); /* Ensure no horizontal scrolling */
    height: 100vh; /* Match the viewport height */
    overflow: hidden; /* Prevent scrolling */
    box-sizing: border-box; /* Include padding and border in width/height */
  }
  
  .welcome-card,
  .important-card {
    width: 100%;
    max-width: 600px;
    background-color: #4d4d4d;
    border: solid 1px #333;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 18%);
    margin-bottom: 20px;
  }
  
  .welcome-card h2 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  
  .logo-text {
    font-weight: bold;
  }
  
  .beta-tag {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #333
  }
  
  .important-card h3 {
    color: #d9534f;
    margin-bottom: 12px;
  }
  
  .start-conversation-btn {
    background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3);
    color: #1c1c1c;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
    }

    .dropdown-menu {
      max-width: 200px; /* Larger width on bigger screens */
      left: auto;
      right: 0; 
    }

    .sidebar {
      transform: translateX(-100%); /* Hidden off-screen on mobile */
    }
    
    .sidebar-toggle {
      background-color: rgba(255, 255, 255, 0.1); /* Subtle background */
      color: white;
      border: none;
      border-radius: 8px; /* Rounded corners */
      width: 100%;
      height: 40px;
      margin: 0 0 20px 0;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 102;
      cursor: pointer;
      transition: background-color 0.2s, transform 0.1s;
    }
    
     /* Hover effect for better interactivity */
    .sidebar-toggle:hover {
      background-color: rgba(255, 255, 255, 0.2); /* Slightly darker on hover */
    }

    /* Active state to simulate a "pressed" effect */
    .sidebar-toggle:active {
      background-color: rgba(255, 255, 255, 0.3); /* Darker background when pressed */
      transform: scale(0.95); /* Slightly shrink on click */
    }

    /* Show sidebar when it's open */
    .home-container .sidebar-open {
      transform: translateX(0);
    }
  
    .main-content {
      padding: 20px;
      margin-left: 0px;
    }
  
    .welcome-card,
    .important-card {
      width: 60%;
      max-width: 100%;
      padding: 15px;
    }
  
    .start-conversation-btn {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .wallet-header p {
      font-size: 12px;
    }
  
    .wallet-controls button {
      font-size: 16px;
    }
  
    .search-bar {
      padding: 6px 8px;
    }
  
    .welcome-card h2,
    .important-card h3 {
      font-size: 18px;
    }
  
    .start-conversation-btn {
      font-size: 14px;
      padding: 10px;
    }
    
    .modal-content {
      padding: 15px; /* Reduce padding for smaller screens */
      max-width: 80% !important; /* Allow it to take up more space on mobile */
    }

    .wallet-modal-content {
      max-width: 80% !important;
    }

  }

  .disconnect-button {
    background-color: transparent;
    border: none;
    color: #ff4d4d; /* Red color for the disconnect button */
    cursor: pointer;
    font-size: 1.5rem; /* Adjust the size as needed */
    gap: 0.5rem; /* Space between icon and text */
    transition: color 0.3s;
    margin-left: 0 !important;
    font-size: 16px !important;
    padding: 0 !important;
  }

  .disconnect-button span {
    padding: 5px;
  }
  
  .disconnect-button:hover {
    color: #e60000; /* Darker red on hover */
  }
  
  .dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-menu {
  position: absolute; /* Positioned within .dropdown-container */
  top: 30%; /* Positioned directly below the toggle button */
  left: 15px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 160px;
  max-width: 85%; /* Limits width on smaller screens */
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #444;
}

.dropdown-icon {
    margin-right: 8px;
}

/* Prevent scrolling in sidebar when dropdown is open */
.no-scroll {
  overflow-y: visible !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Higher than sidebar and other elements */
}

/* Full-screen transparent overlay */
.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent; /* Transparent but clickable */
  z-index: 998; /* Below the dropdown menu */
}

.blocked-modal-content {
  z-index: 1001; /* Ensure it's above the overlay */
}

.modal-content {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Responsive width */
  max-width: 400px;
  min-width: 300px; /* Ensure it doesn't get too narrow on mobile */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 2001; /* Ensures it stays above the overlay */
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.modal-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.start-chat-button {
  background: linear-gradient(90deg, #ce00fc, #f7c440, #20d0e3) !important;
  color: #1c1c1c;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 5px;
  width: 100%;
  margin: 0 !important;
}

.start-chat-button:hover {
  background-color: #0056b3;
}
