.login-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #fff;
  }
  
  p {
    color: #fff;
  }
  
  .back-button {
    display: inline-block;
    color: #007bff;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .wallet-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .wallet-option {
    display: flex;
    align-items: center;
    padding: 0px 40px;
    background: #3c3c3c70;
    border-radius: 16px;
    border: solid 1px #777777;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }

  .wallet-option:active {
    transform: scale(0.95); /* Slightly shrinks the button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: #444; /* Darkens on click */
  }


  .wallet-title {
    text-align: left;
    margin: 0;
    color: #fff;
  }

  .wallet-texts {
    padding: 3% 0%;
  }

  .wallet-option p {
    margin: 5px 0px 0px 0;
    text-align: left;
  }
  
  .wallet-option img {
    width: 40px;
    margin-right: 40px;
  }
  
  .connect-button {
    color: #007bff;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  
  .spinner-circle {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #f607ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }  
  
  .terms {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
  }
  .terms a {
    color: #007bff;
    text-decoration: none;
  }
  