.login-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: transparent;
  }
  
  .login-navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 30px;
    margin-right: 10px;
  }
  
  .app-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .beta-tag {
    background: linear-gradient(270deg, #a001f2, #1ccad8);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .connect-button {
    display: inline-flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally if needed */
    background-color: #20d0e3;
    color: #333;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none; /* Remove underline if using <a> tag */
  }

  .connect-button span {
    display: inline-flex;
    align-items: center;
    margin-right: 8px; /* Adds space between icon and text */
}
  