.about-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .about-modal-content {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .about-modal-content h2 {
    margin-bottom: 10px;
  }
  
  .about-modal-content ul {
    list-style: none;
    padding: 0;
  }
  
  .about-modal-content ul li {
    margin: 8px 8px;
  }
  
  .TCA-title-withImg {
    display: inline-flex;
    align-items: center;
  }

  .bnb-coin-logo {
    fill: #f1b909;
    margin-left: 5px;
  }